@{
    ViewBag.Title = "登入";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<div class="register">

    <form action="@Url.Action("Login", "Account")" method="post">
        <h3>登入</h3>
        <div class="account">
            <label for="UserName"><img src="~/img/person.svg"></label>
            <input type="text" id="UserName" name="UserName" placeholder="請輸入帳號">
        </div>
        <div class="password">
            <label for="Password"><img src="~/img/key.svg"></label>
            <input type="password" id="Password" name="Password" placeholder="請輸入密碼">
        </div>
        <button type="submit">登入</button>
    </form>

    @if (ViewBag.ErrorMessage != null)
    {
        <div style="color:red;">@ViewBag.ErrorMessage</div>
    }
</div>